@using System.Globalization
@using System.Text.RegularExpressions
@using System.Threading
@using MyWebSite.Models
@{
    ViewBag.Title = "Отзывы";
    Layout = "~/Views/Shared/Light_Layout.cshtml";
    Thread.CurrentThread.CurrentCulture = new CultureInfo("ru-RU");
}

@section AdditionalStyles{
    @Styles.Render("~/Content/css/reports")
}

<div class="rep">
    @{
        var dbreader = new DataBaseReader();
        var reports = dbreader.GetReports();
        var c = 0;
        foreach (var report in reports)
        {
            var user = VKapi.Interact(report.uid);
            var href = "http://vk.com/id"+@user.uid;
            
            <div class="report_item">
                <div class="report_user">
                    <img alt="user" src=@user.photo_100 /> <br/>
                    <a href=@href>@user.first_name @user.last_name</a>
                </div>
                <div class="report_id">@c++</div>
                @{
                    var html = HttpUtility.HtmlEncode(report.content);
                    html = Regex.Replace(html, "&lt;b&gt;(.*?)&lt;/b&gt;", "<b>$1</b>");
                    html = Regex.Replace(html, "&lt;i&gt;(.*?)&lt;/i&gt;", "<i>$1</i>");
                    var text = Regex.Replace(html, "&lt;img(?:.*?)src=&quot;(.*?)&quot;(?:.*?)/&gt;", "<br/><img alt=\"customImg\" src=\"$1\"/><br/>");
                }
                <div class="report_content">@Html.Raw(text)</div>
                <div class="report_date">@report.date</div>
                <div class="report_edit" onclick="editRep(this)">Редактировать</div>
            </div>
        }
    }
    
    <div id="not_auth_wrap" class="report_item">
        <div id="not_auth">Авторизуйтесь в vk.com чтобы оставить отзыв</div>
    </div>

    <div class="report_item" id="report_action">
        <h1> Оставить отзыв</h1>
        <div class="report_user">
            <img id="report_user_img" src="" /> <br />
            <a id="report_user_href" href="#"></a>
        </div>
        <form class="report_content" id="post_report" method="POST">
            <textarea required placeholder="Оставьте отзыв.." name="report_text" class="report_text"></textarea> <br/>
            <input type="text" name="uid" id="uid_box" />
            <input type="text" name="secret" id="secret_box" />
            <input type="text" name="type" class="secret_box" value="send">
            <button onclick="checkSecret(this)" type="submit" id="report_button">Отправить</button>
            <div class="edit_info">Поддерживаются теги &lt;i&gt; &lt;b&gt; &lt;img src=&quot;...&quot;&gt;</div>
        </form>
    </div>
</div>

@section JavaScript {
    @Scripts.Render("~/bundles/rep_front")
}
