@using MyWebSite.Models
@{
    var href = "http://vk.com/id" + Request["uid"];
    var user = VKapi.Interact(Request["uid"]);
    var dbreader = new DataBaseReader();
    var history = dbreader.GetHistory(Int32.Parse(Request["id"]));
}

<div class="report_item" id="edit_action">
    <div class="report_id">@Request["id"]</div>
    <div class="report_user">
        <img alt="user" id="edit_user_img" src=@user.photo_100 /> <br />
        <a id="edit_user_href" href=@href>@user.first_name @user.last_name</a>
    </div>
    <form class="report_content" id="edit_report" method="POST">
        <textarea required name="report_text" class="report_text">@dbreader.GetHistoryReport(Int32.Parse(Request["id"]), Request["date"])</textarea> <br />
        <input type="text" name="uid" class="secret_box" value="@Request["uid"]">
        <input type="text" name="secret" class="secret_box" value="@Request["secret"]">
        <input type="text" name="type" class="secret_box" value="edit">
        <input type="text" name="id" class="secret_box" value="@Request["id"]">
        @{
            if (history.Count != 0)
            {
                <select name="history_item" id="history">
                    @{
                        foreach (var hist in history)
                        {
                            <option value="@hist.date">@hist.date</option>
                        }
                    }
                </select>
                <div onclick="historyChange(this)" class="button">Выбрать</div>
            }
        }
        <button onclick="deleteReport(this)" type="submit" id="delete_button">Удалить</button>
        <button type="submit" id="edit_button">Отправить</button>
    </form>
</div>