@using MyWebSite.Models
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Terra Flamenco @ViewBag.Title</title>

    <script type="text/javascript" src="//vk.com/js/api/openapi.js?105"></script>
    <script type="text/javascript">
        VK.init({ apiId: 4094087 });
    </script>

    @Styles.Render("~/Content/css")
    @RenderSection("AdditionalStyles", required: false)
</head>
    <body>
        <div id="header">
            <div class="left">
                <a href="/">
                    <img src="~/Content/Images/logo.png" alt="Terra Flamenco main" /></a>
                <p>Официальный сайт </p>
            </div>
            <ul id="menu">
                <li>
                    <div id="news" onclick="location.href='/news'">Новости</div>
                </li>
                <li>
                    <div id="bio" onclick="location.href='/bio'">Биография</div>
                </li>
                <li>
                    <div id="multimedia" onclick="location.href='/multimedia'">Галерея</div>
                </li>
                <li>
                    <div id="concerts" onclick="location.href='/concerts'">Концерты</div>
                </li>
                <li>
                    <div id="rep" onclick="location.href='/rep'">Отзывы</div>
                </li>
                <li>
                    <div id="contacts" onclick="location.href='/contacts'">Контакты</div>
                </li>
            </ul>
        </div>

        <div id="content">
            @RenderBody()
        </div>
        
        <div id="results">
            <script type="text/javascript">
                VK.Widgets.Auth("vk_auth", {
                    width: "200px", onAuth: function (data) {
                        
                    }
                });
                VK.Widgets.Like("vk_like", { type: "button" });
            </script>
            <div id="counter">
                @{
                    //var cntobj = new {allcnt = 20, todcnt = 9, last = "2014-01-09 17:06:00.230"};
                    var cntobj = new {};
                    try
                    {
                        cntobj = CounterIP.Count(Request.UserHostAddress);
                    }
                    catch (Exception)
                    {
  
                    }
                }
                <h3>Посещения</h3> <br/>
                Всего: <div id="all">@Html.Raw(@cntobj.GetType().GetProperty("allcnt").GetValue(cntobj, null))</div> <br/>
                Сегодня: <div id="today">@Html.Raw(@cntobj.GetType().GetProperty("todcnt").GetValue(cntobj, null))</div> <br/>
                Последнее: <div id="last">@Html.Raw(@cntobj.GetType().GetProperty("last").GetValue(cntobj, null))</div> <br/>
                @{ 
                    var browser_name = Request.Browser.Browser;
                    var browser_ver = Request.Browser.Version;
                }
                Ваш браузер: @browser_name v @browser_ver <br/>
            </div>
            <div id="voting">
                <div id="vote_content"></div>
                <div class="button" id="vote_button" onclick="location.href = '/vote'">Голосовать</div>
            </div>
            <div id="vk_auth"></div>
            <div id="vk_like"></div>
        </div>

        <div id="footer">
            <div>Новоуральск-Екатеринбург. Terra Flamenco &copy; 2013</div>
        </div>
        
        @Scripts.Render("~/bundles/frontend")
        @RenderSection("JavaScript", required: false)
    </body>
</html>
